.mainContent {
    opacity: 0;
    animation: showContent 1.5s ease-out forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.allInput {
    position: absolute;
    left: -70px;
    top: 200px;
    width: 150px;
    height: auto;
    margin: 5px;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    text-align: left;
    font-size: 15px;
    background-color: rgb(156, 156, 156);
    box-shadow: 2px 5px 2px rgb(56, 56, 56);
}

.importantInfo {
    position: absolute;
    right: -70px;
    top: 200px;
    width: 150px;
    height: auto;
    margin: 5px;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    text-align: justify;
    font-size: 15px;
    background-color: rgb(156, 156, 156);
    box-shadow: 2px 5px 2px rgb(56, 56, 56);
}

.instrucion {
    text-shadow: 2px 4px 2px rgb(224, 224, 224);
    font-size: 40px;
    margin: 20px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color: rgb(157, 255, 242);
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    font-family: sans-serif;
    overflow: hidden;
}

.mountain {
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    font-size: 500px;
    height: 100px;
    bottom: 250px;
    right: 150px;
}

.userInput[placeholder] {
    font-size: 25px;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(136, 136, 136);
    padding: 10px;
}

.userInput[type='text'] {
    width: 400px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-family: sans-serif;
    color: #f5f3ca;
    background-color: rgb(163, 163, 163);
    box-shadow: 2px 5px 2px rgba(65, 65, 65, 0.315);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 10px;
}

.player {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    border-radius: 20px;
    --valToMoveLeft: 0px;
    --valToMoveUp: 0px;
    --jump: 0px;
    --rotate: 0deg;
    width: 100px;
    height: 100px;
    top: 300px;
    left: 320px;
    background-color: black;
    color: white;
}

.eyesLeft {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    z-index: 1;
}

.eyesRight {
    display: flex;
    position: absolute;
    top: 20px;
    left: 65px;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    z-index: 1;
}

.eyeLayerRight {
    display: flex;
    position: absolute;
    top: 5px;
    left: 4px;
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
    background-color: black;
    box-shadow: 10px 10px 10px black;
    z-index: 2;
}

.eyeLayerLeft {
    display: flex;
    position: absolute;
    top: 5px;
    left: 4px;
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
    background-color: black;
    box-shadow: 10px 10px 10px black;
    z-index: 2;
}

.eyesAnimation {
    animation: animateEyes 20s ease-out infinite;
}

@keyframes animateEyes {
    10% {
        transform: translate(2px, 2px);
    }
    20% {
        transform: translate(0, 0);
    }
    30% {
        transform: translate(-3px, -3px);
    }
    40% {
        transform: translate(0, 0);
        transform: scale(120%);
    }
    50% {
        transform: scale(100%);
    }
    60% {
        transform: scaleY(70%);
    }
    80% {
        transform: scaleY(100%);
    }
}

@keyframes showContent {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.jumpAnim {
    animation: jumpPlayer 600ms ease-out;
}

.moveUpAnim {
    animation: smoothMoveUp 1s ease-out forwards;
}

.moveLeftAnim {
    animation: smoothMoveLeft 1s ease-out forwards;
}

@keyframes smoothMoveUp {
    to {
        transform: translateY(var(--valToMoveUp));
    }
}

@keyframes smoothMoveLeft {
    to {
        transform: translateX(var(--valToMoveLeft));
    }
}

@keyframes jumpPlayer {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(var(--jump));
    }
    100% {
        transform: translateY(0);
    }
}

.playerScale {
    animation: expandX 5s ease-out forwards;
}

@keyframes expandX {
    10%, 20% {
        width: 200px;
        height: auto;
        letter-spacing: 10px;
        transform: translate(-50px, -50px)
    }
    80%, 100% {
        width: 100px;
        height: auto;
        letter-spacing: 1px;
        transform: translate(0, 0);
    }
}

.copyright {
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    width: 200px;
    flex-direction: column;
    position: absolute;
}

.watermark {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    color: rgba(128, 128, 128, 0.224);
    text-shadow: 5px 10px 5px rgba(128, 128, 128, 0.141);
    font-size: 120px;
    width: 1000px;
    bottom: -150px;
    z-index: -1;
}

.animateElement {
    animation: subtleBounce 2s ease-out infinite;
}

.animateElement:hover {
    background-color: rgb(33, 33, 33);
    color: #f5f3ca;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.342);
    transition: all 1s ease-out;
    transform: scale(110%);
}

.userInput:hover {
    background-color: rgb(33, 33, 33);
    color: #f5f3ca;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.342);
    transition: all 1s ease-out;
    transform: scale(110%);
}

.userInput:focus {
    background-color: rgb(33, 33, 33);
    color: #f5f3ca;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.342);
    transition: all 1s ease-out;
    transform: scale(110%);
}

@keyframes subtleBounce{
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.clouds {
    border: 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 5px 10px 5px grey;
    left: 0px;
    top: 100px;
    z-index: -1;
}

.ground {
    border: green;
    background-color: rgb(76, 255, 76);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 200px;
    border-radius: 40%;
}
